.admin-dashboard {
    text-align: center;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alignement à gauche */
    gap: 10px; /* Espace entre les boutons */


  }
button {
    margin: 10px;
    font-size: 20px;
    cursor: pointer;


  }
h2{
    text-align: center;
    margin-top: 70px;
    font-size: 50px;
  }