<div class="hike-photos-container">
  <h2>Photos des randonnées </h2>
  <div class="photo-item">
    <img src="assets/R5.jpg" alt="Hiking Photo" (click)="goToHikeDetail(1)">
    <img src="assets/R2.png" alt="Hiking Photo" (click)="goToHikeDetail(2)">
    <img src="assets/R3.jpg" alt="Hiking Photo" (click)="goToHikeDetail(3)">
    <img src="assets/mer.jpg" alt="Hiking Photo" (click)="goToHikeDetail(4)">
    <img src="assets/motagne.jpg" alt="Hiking Photo" (click)="goToHikeDetail(5)">
    <img src="assets/foret.jpg" alt="Hiking Photo" (click)="goToHikeDetail(6)">
  </div>
  
  
  
</div>
<div class="photo-item" class="hike-photos-container" >
  <img src="assets/feedback.jpg" alt="impossible" (click)="openFeedbackPage()" />
  <p>Feedback</p>
</div>


 